.size-24 {
    font-size: 24px;
}
.size-32 {
    font-size: 32px;
}

.container {
    background-color: #EEEEEE;
}

tags-input .tags .input {
    height: 100% !important;
    font-size: inherit;
}

tags-input {
    font-size: 20px !important;
}

tags-input .tags .tag-item {
    font: inherit;
}

tags-input .tags .tag-item:nth-child(1n) {
    background-image: none;
    background-color: #80CBC4 !important;
}

tags-input .tags .tag-item:nth-child(2n) {
    background-image: none;
    background-color: #9FA8DA !important;
}

tags-input .tags .tag-item:nth-child(3n) {
    background-image: none;
    background-color: #4DD0E1 !important;
}

tags-input .tags .tag-item:nth-child(5n) {
    background-image: none;
    background-color: #AED581 !important;
}

tags-input .tag-list:empty + .input {
    width: 100% !important;
}